{% extends 'base.html' %}

{% block title %}Cadastrar Livro{% endblock %}

{% block content %}
<div class="container">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
              {% if editar %}Editar Livro{% else %}Cadastrar Novo Livro{% endif %}
            </h4>
          </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <!-- Card: Informações do Livro -->
                <div class="card mb-4">
                    <div class="card-header bg-light">
                        <strong>Informações do Livro</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_titulo" class="form-label">Título</label>
                                {{ form.titulo }}
                            </div>
                            <div class="col-md-3">
                                <label for="id_autor" class="form-label">Autor</label>
                                {{ form.autor }}
                            </div>
                            <div class="col-md-3">
                                <label for="id_editora" class="form-label">Editora</label>
                                {{ form.editora }}
                            </div>
                            <div class="col-md-2">
                                <label for="id_genero" class="form-label">Gênero</label>
                                {{ form.genero }}
                            </div>
                            <div class="col-md-1">
                                <label for="id_ano_publicacao" class="form-label">Ano</label>
                                {{ form.ano_publicacao }}
                            </div>
                            <div class="col-md-4">
                                <label for="id_isbn" class="form-label">ISBN</label>
                                {{ form.isbn }}
                            </div>
                            <div class="col-md-2">
                                <label for="id_num_paginas" class="form-label">Páginas</label>
                                {{ form.num_paginas }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card: Detalhes do Cadastro -->
                <div class="card mb-4">
                    <div class="card-header bg-light">
                        <strong>Detalhes do Cadastro</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="id_data_aquisicao" class="form-label">Data de Aquisição</label>
                                {{ form.data_aquisicao }}
                            </div>
                            <div class="col-md-2">
                                <label for="id_quantidade" class="form-label">Quantidade</label>
                                {{ form.quantidade }}
                            </div>
                            <div class="col-md-2">
                                <div class="form-check mt-4">
                                    {{ form.disponivel }}
                                    <label for="id_disponivel" name="disponivel" class="form-check-label">Disponível?</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="id_tombamento" class="form-label">Tombamento</label>
                                {{ form.tombamento }}
                            </div>
                            <div class="col-md-">
                                <label for="id_observacao" class="form-label">Observação</label>
                                {{ form.observacao }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botões -->
                <div class="d-flex justify-content-start">
                    <button type="submit" class="btn btn-success me-2">
                        {% if editar %}Salvar Alterações{% else %}Salvar{% endif %}
                      </button>
                    <a href="{% url 'lista_livros' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
